<h2>小百合每周荐股擂台第5期（4.22-4.29）</h2>
<!--<div class="past"><a href="../past?period=4">上期回顾</a></div><br /> -->
  <table border="0" align="center" cellspacing="1" id="dd">

    <colgroup>
    <col class="name" />
    <col />
    <col />
    <col class="reason" />
    <col />
    <col />
    <col />
    <col />

    <col />
    </colgroup>
    <thead>
      <tr>
        <th>百合ID</th>
        <th>股票代码</th>
        <th>股票名称</th>

        <th>推荐理由</th>
        <th>推荐价</th>
        <th>现价</th>
        <th>今日涨幅</th>
        <th>总涨幅</th>
      </tr>

    </thead>
    <tbody class="tb">
     
      
        <tr>
      	  <th>XiaoChunFeng</th>
          <td>600339</td>
          <td>天利高新</td>
          <td>4月25日会涨。PS：咋没人推荐600547</td>

          <td>16.09</td>
          <td>16.09</td>
          <td>1.32%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>407165437</th>

          <td>000069</td>
          <td>华侨城Ａ</td>
          <td>感觉不错，你懂的</td>
          <td>8.68</td>
          <td>8.68</td>
          <td>0.0%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>menmsn</th>
          <td>000816</td>
          <td>江淮动力</td>
          <td>动力无限，涨个不停</td>

          <td>8.38</td>
          <td>8.38</td>
          <td>2.07%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>30369</th>

          <td>601106</td>
          <td>中国一重</td>
          <td>新型业态即将重组</td>
          <td>5.48</td>
          <td>5.48</td>
          <td>-0.36%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>fuzzy</th>
          <td>600010</td>
          <td>包钢股份</td>
          <td>(*^__^*) 嘻嘻……这货你猜不透，给爷涨一个</td>

          <td>7.9</td>
          <td>7.9</td>
          <td>-5.5%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>19870126</th>

          <td>300170</td>
          <td>汉得信息</td>
          <td>肯定有的赚，大势向上，短线看到20</td>
          <td>18.62</td>
          <td>18.62</td>
          <td>-1.43%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>mikenet25</th>
          <td>600563</td>
          <td>法拉电子</td>
          <td>触及前期低点，并得到有效支撑；</td>

          <td>25.04</td>
          <td>25.04</td>
          <td>-1.49%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>fruit56</th>

          <td>002162</td>
          <td>斯 米 克</td>
          <td>强势反弹</td>
          <td>13.4</td>
          <td>13.4</td>
          <td>4.93%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>wohaolei</th>
          <td>601991</td>
          <td>大唐发电</td>
          <td>这么低了，涨一下吧</td>

          <td>6.61</td>
          <td>6.61</td>
          <td>1.85%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>Comet_2</th>

          <td>002383</td>
          <td>合众思壮</td>
          <td>中小板差不多了把</td>
          <td>46.1</td>
          <td>46.1</td>
          <td>0.17%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>robbierui</th>
          <td>002155</td>
          <td>辰州矿业</td>
          <td>后市走强</td>

          <td>39.27</td>
          <td>39.27</td>
          <td>0.51%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>000623</th>

          <td>600029</td>
          <td>南方航空</td>
          <td>没理由，就是要涨</td>
          <td>8.93</td>
          <td>8.93</td>
          <td>2.41%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>bobofish</th>
          <td>000829</td>
          <td>天音控股</td>
          <td>周五下午已经踩了油门，iphone概念继续支持。之前一段时间已经震出很多墙头草了。反弹吧</td>

          <td>12.06</td>
          <td>12.06</td>
          <td>4.33%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>cjuniper</th>

          <td>002410</td>
          <td>广联达</td>
          <td>A股中难得一见的优质高成长上市公司</td>
          <td>38.25</td>
          <td>38.25</td>
          <td>1.11%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>yihaodian</th>
          <td>600812</td>
          <td>华北制药</td>
          <td>医药概念从回</td>

          <td>14.43</td>
          <td>14.43</td>
          <td>1.48%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>jvcn</th>

          <td>601618</td>
          <td>中国中冶</td>
          <td>矿产资源龙头：海外资源储量巨大；房地产、保障房概念；洗盘结束，将放量上攻</td>
          <td>4.44</td>
          <td>4.44</td>
          <td>2.3%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>suifen</th>
          <td>000721</td>
          <td>西安饮食</td>
          <td>五一快到了，旅游概念，K线我喜欢</td>

          <td>12.91</td>
          <td>12.91</td>
          <td>2.22%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>Comet</th>

          <td>600115</td>
          <td>东方航空</td>
          <td>东方航空，无脑东方航空，必须东方航空，全仓东方航空，木得理由</td>
          <td>6.54</td>
          <td>6.54</td>
          <td>3.48%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>wangbear</th>
          <td>600256</td>
          <td>广汇股份</td>
          <td>最近刚刚剥离的房地产业务，转型做资源和能源，长期看好。</td>

          <td>25.97</td>
          <td>25.97</td>
          <td>3.22%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>396752</th>

          <td>600428</td>
          <td>中远航运</td>
          <td>我被套，我补仓</td>
          <td>8.13</td>
          <td>8.13</td>
          <td>2.26%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>falcon</th>
          <td>000830</td>
          <td>鲁西化工</td>
          <td>行情不错啊</td>

          <td>8.1</td>
          <td>8.1</td>
          <td>0.37%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>boyhunter</th>

          <td>601328</td>
          <td>交通银行</td>
          <td>6.04的本，大家来抄我底吧。银行调整了很久了</td>
          <td>5.94</td>
          <td>5.94</td>
          <td>-0.83%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>21270955</th>
          <td>600962</td>
          <td>国投中鲁</td>
          <td>周五上涨已经明显，不过我对他还保持信心。 果汁龙头</td>

          <td>18.51</td>
          <td>18.51</td>
          <td>4.75%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>zlgforever</th>

          <td>600005</td>
          <td>武钢股份</td>
          <td>补涨钢铁股，有看头</td>
          <td>4.9</td>
          <td>4.9</td>
          <td>-1.41%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>wxlgj</th>
          <td>000829</td>
          <td>天音控股</td>
          <td>主力又回来啦</td>

          <td>12.06</td>
          <td>12.06</td>
          <td>4.33%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>tiztm</th>

          <td>601106</td>
          <td>中国一重</td>
          <td>核能回复！在此一击！</td>
          <td>5.48</td>
          <td>5.48</td>
          <td>-0.36%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>yc384522</th>
          <td>002217</td>
          <td>联合化工</td>
          <td>化工还有一波</td>

          <td>14.08</td>
          <td>14.08</td>
          <td>0.14%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>SmilingWang</th>

          <td>600111</td>
          <td>包钢稀土</td>
          <td>稀土</td>
          <td>90.04</td>
          <td>90.04</td>
          <td>1.26%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>sjm</th>
          <td>600311</td>
          <td>荣华实业</td>
          <td>真金白银，横盘良久，浙江游资，涨</td>

          <td>17.9</td>
          <td>17.9</td>
          <td>6.74%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>sotype</th>

          <td>600851</td>
          <td>海欣股份</td>
          <td>纺织化工 受益通胀 兼具抗癌概念 调整反弹 前期1101带个好头 期望再次涨停</td>
          <td>14.23</td>
          <td>14.23</td>
          <td>0.49%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>llyily</th>
          <td>000897</td>
          <td>津滨发展</td>
          <td>大神推荐，你懂的</td>

          <td>5.76</td>
          <td>5.76</td>
          <td>0.0%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>xinwen</th>

          <td>600695</td>
          <td>大江股份</td>
          <td>调整完毕，周五封住涨停</td>
          <td>7.67</td>
          <td>7.67</td>
          <td>10.04%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>yaya123</th>
          <td>002204</td>
          <td>华锐铸钢</td>
          <td>龙抬头，预计阳线买入将有超20%收益</td>

          <td>41.31</td>
          <td>41.31</td>
          <td>-6.18%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>061221069</th>

          <td>600360</td>
          <td>华微电子</td>
          <td>感觉~~~</td>
          <td>9.61</td>
          <td>9.61</td>
          <td>-1.64%</td>

          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>clara</th>
          <td>600031</td>
          <td>DR三一重</td>

          <td>复权</td>
          <td>19.32</td>
          <td>19.32</td>
          <td>5.17%</td>
          <td>0.0%</td>
      	</tr>

      
        <tr>
      	  <th>foreverwing</th>
          <td>600416</td>
          <td>湘电股份</td>
          <td>=.=</td>
          <td>32.14</td>

          <td>32.14</td>
          <td>0.41%</td>
          <td>0.0%</td>
      	</tr>
      
        <tr>
      	  <th>PPTT</th>
          <td>000830</td>

          <td>鲁西化工</td>
          <td>第二波行情</td>
          <td>8.1</td>
          <td>8.1</td>
          <td>0.37%</td>
          <td>0.0%</td>

      	</tr>
      
        <tr>
      	  <th>djlin</th>
          <td>600660</td>
          <td>福耀玻璃</td>
          <td>已经很低了，就搏一个反弹吧，看看能否提高排名。</td>
          <td>11.03</td>

          <td>11.03</td>
          <td>-3.33%</td>
          <td>0.0%</td>
      	</tr>
      
      
    </tbody>
  </table>
（*注：价格数据每5分钟更新一次）


<div id="formwrapper">

	<form action="/" method="post" >
	<fieldset>
		<legend>我要报名</legend>
		<p>每个人最多推荐一支股票</p>
        <div class="notifier"></div>
		<div>
		<label for="author">百合ID</label>

		<input type="text" name="author" id="author" value="" size="12" maxlength="12" />（字母或数字的组合） <br />	
		</div>
		<div>
		<label for="stock_number">股票代码</label>
		<input type="text" name="stock_number" id="stock_number" value="" size="12" maxlength="6" /> （如600001）<br />	
		</div>	
		<div>
		<label for="reason">推荐理由</label>

        <textarea name="reason" id="reason" rows="6" cols="30"></textarea><br />
		</div>		
		<div class="enter">
	    <input type="submit" name="submit" class="buttom" value="提交" />
		</div>

		<p></p>	
	</fieldset>
	</form>
</div>


<div id='foot'>
	Powered By <a href='http://bbs.nju.edu.cn/vd29969/bbsqry?userid=3C'>3C</a> | <a href='#'>问题反馈</a> 
 </div>

